#root {
	width: 100vw;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	overflow: hidden !important;
}

.card-img-top {
	height: 200px;
	object-fit: cover;
}
.card-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1.5rem;
	width: 90%;
	max-width: 1280px;
	margin: auto;
	margin-bottom: 2rem;
}
.blocks-wrapper{
	margin-top: 20vh;
}
.card-link {
	width: 32%;
}
.card {
	padding: 2em;
	min-height: 500px;
	max-height: 500px;
	background-color: #ffb264b1 !important;
	color: #f9f9f9 !important;
}
.card p,
.carousel-caption {
	font-weight: 400;
}
.slider {
	margin: 0 0 2.5rem;
	width: 100vw;
}
.carousel-img,
.carousel-item {
	width: 100%;
	height: 680px;
	object-fit: cover;
	object-position: top;
}
.carousel-img {
	opacity: 60%;
}
.carousel-caption {
	text-shadow: 0 0 15px black;
}
.post-img {
	margin: 0;
	width: 100vw;
	height: 680px;
	object-fit: cover;
	object-position: top;
	padding: 0;
	position: relative;
	opacity: 60%;
}
.post-wrap {
	width: 75%;
	max-width: 1280px;
	margin: 2rem auto;
	text-align: left;
	color: #f9f9f9;
}
.headingwrap {
	width: 75%;
	max-width: 1280px;
	margin: auto;
}
.post-heading {
	margin: 1rem 0 3rem;
	position: absolute;
	text-align: left;
	width: 75%;
	max-width: 1280px;
	z-index: 2;
	top: 570px;
	color: #f9f9f9;
	text-shadow: 0 0 15px black;
}
.no-res{
	color: white;
}
.searchres-cont {
	margin: 7rem auto;
}
.search-heading {
	color: #f9f9f9;
	text-align: left;
	width: 100%;
}
.carousel-caption{
	background-color: rgba(7, 7, 7, 0.6);
	padding: 0.75rem;
	width: 100%;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	padding-bottom: 2rem !important;
}
.car-cap{
	width: 75%;margin: auto;
}

/* /////// marta  ///////// */

.searchWindow {
	font-size: larger;
	text-align: end;
}

#search {
	background-color: #e0c79e;
	height: 2.75rem;
	text-indent: 0.75grem;
}
.home {
	height: 2.8rem;
	width: auto;
}
.header {
	display: flex;
	justify-content: space-around;
	width: 100vw;
	margin: 0 auto;
	position: fixed;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.75);
}
.nav-wrap {
	display: flex;
	width: 90%;
	max-width: 1280px;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
nav ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	width: 100%;
	margin: 1rem 0;
}

nav ul a {
	color: rgb(234, 230, 233);
	text-decoration: none;
	font-family: monospace;
	font-size: 1.25rem;
	font-weight: bold;
}

nav ul a:hover {
	color: #e1c073;
	transition: 0.3s;
}

/* /////// end of martas part  ///////// */

/* /////footer */
.footer {
	width: 90%;
	max-width: 1280px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3rem auto;
	padding-top: 70px;
}
.footer ul {
	list-style: none;
	padding: 0;
}
.footer li a {
	color: #f9f9f9;
}
.footer-icons {
	font-size: 1.5em;
	margin: 0 2rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer-icons li {
	margin: 0 1.5rem;
}
.footernav {
	text-align: left;
	display: flex;
	align-items: center;
	margin: 0;
}
.footernav li::after {
	content: "|";
	margin: 1.5rem;
}
.footernav li:last-child::after {
	content: "";
}
.footer-icons .fa {
	color: #e0c79e;
	text-decoration: none;
}
/* ////end of footer */
@media (max-width: 500px) {
	.header{
		position: relative;
	}
	.nav-wrap {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 0.75rem;
	}
	.nav-wrap ul {
		padding: 0;
		margin-bottom: 1rem;
	}
	.nav-wrap form {
		text-align: center;
	}
	#search {
		width: 90%;
		margin-bottom: 1rem;
	}
	.searchres-cont{
		margin-top: 2rem;
	}
	.card-link {
		width: 90%;
	}
	.card {
		margin: auto;
	}
	.carousel-img,
	.carousel-item {
		width: 100%;
		height: 400px;
	}
	.post-img {
		height: 250px;
	}
	.post-heading {
		top: 275px;
	}
	.headingwrap {
		width: 90%;
		text-align: left;
	}
	.footer {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0;
	}
	.footernav {
		text-align: center;
	}
	.footer li {
		margin: 1rem;
	}
	.footer img {
		display: none;
	}
	.footer li::after {
		content: "";
		margin: 0;
	}
	.search-heading {
		text-align: center;
	}
}
