#root {
	width: 100vw;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	overflow: hidden;
}
* {
	border-radius: 0 !important;
}
.card-img-top {
	height: 200px;
	object-fit: cover;
}
.card-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1.5rem;
	width: 90%;
	max-width: 1280px;
	margin: auto;
	margin-bottom: 2rem;
}
.card-link {
	width: 32%;
}
.card {
	padding: 2em;
	min-height: 500px;
	max-height: 500px;
	background-color: #ffb264b1 !important;
	color: #f9f9f9 !important;
}
.card p,
.carousel-caption {
	font-weight: 400;
}
.slider {
	margin: 0 0 2.5rem;
	width: 100vw;
}
.carousel-img,
.carousel-item {
	width: 100%;
	height: 600px;
	object-fit: cover;
	object-position: center;
}
.carousel-img {
	opacity: 60%;
}
.carousel-caption {
	text-shadow: 0 0 15px black;
}
.post-img {
	margin: 0;
	width: 100vw;
	height: 600px;
	object-fit: cover;
	padding: 0;
	position: relative;
	opacity: 60%;
}
.post-wrap {
	width: 75%;
	max-width: 1280px;
	margin: 2rem auto;
	text-align: left;
	color: #f9f9f9;
}
.headingwrap {
	width: 75%;
	max-width: 1280px;
	margin: auto;
}
.post-heading {
	margin: 1rem 0 3rem;
	position: absolute;
	z-index: 2;
	top: 600px;
	color: #f9f9f9;
	text-shadow: 0 0 15px black;
}
@media (max-width: 500px) {
	.card-link {
		width: 90%;
	}
	.card {
		margin: auto;
	}
	.carousel-img,
	.carousel-item {
		width: 100%;
		height: 400px;
	}
	.post-img {
		height: 250px;
	}
	.post-heading {
		top: 275px;
	}
	.headingwrap {
		width: 90%;
		text-align: left;
	}
}

/* /////// marta  ///////// */

.searchWindow {
	font-size: larger;
	text-align: end;
}

#search {
	background-color: #e0c79e;
}
.home {
	height: 2.8rem;
	width: auto;
}
.header {
	display: flex;
	justify-content: space-around;
	width: 90%;
	max-width: 1280px;
	margin: auto;
}
.nav-wrap {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
nav ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	width: 100%;
	margin: 1rem 0;
}

nav ul a {
	color: rgb(234, 230, 233);
	text-decoration: none;
	font-family: monospace;
	font-size: 1.25rem;
	font-weight: bold;
}

nav ul a:hover {
	color: #e1c073;
	transition: 0.3s;
}

/* /////// end of martas part  ///////// */

/* /////footer */
.footer {
	width: 90%;
	max-width: 1280px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3rem auto;
	padding-top: 70px;
}
.footer ul {
	list-style: none;
	padding: 0;
}
.footer li a {
	color: #f9f9f9;
}
.footer-icons {
	font-size: 1.5em;
	margin: 0 2rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer-icons li {
	margin: 0 1.5rem;
}
.footernav {
	text-align: left;
	display: flex;
	align-items: center;
	margin: 0;
}
.footernav li::after {
	content: "|";
	margin: 1.5rem;
}
.footernav li:last-child::after {
	content: "";
}
.footer-icons .fa {
	color: #e0c79e;
	text-decoration: none;
}
/* ////end of footer */
