#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}
.card-img-top{
	height: 200px;
	object-fit: cover;
}
.card-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1.5rem;
	margin-top: 4rem;
	width: 100%;
}
.card {
	padding: 2em;
	width: 32%;
}
.carousel-img,
.carousel-item {
	width: 1200px;
	height: 450px;
	object-fit: cover;
}
.carousel-img {
	filter: brightness(50%);
}
